.layout-fixed .wrapper .sidebar {
    height: calc(100vh - (7rem + 1px));
}
.sidebar__lista {
    width: 100%;
}
.sidebar__elemento {
    width: 100%;
}
.sidebar__close {
    border-top: 1px solid #4f5962;
}
.sidebar__link {
    color: white !important;
    text-align: center;
}
